.sc_visual {
    margin-bottom: 60px;
}

.sc_visual .coupon_box a {
    display: block;
    height: 100%;
}

.sc_visual .coupon_box .top_banner {
    width: 100%;
    display: block;
}

.sc_visual .main_banner {
    position: relative;
    margin-bottom: 30px;
}

.sc_visual .pages {
    position: absolute;
    color: white;
    right: 16px;
    top: 16px;
}

.sc_visual .pages .now {
    display: inline-block;
}

.sc_visual .pages .now .slash {
    display: inline-block;
}

.sc_visual .pages .now .total {
    display: inline-block;
}

.sc_visual .slide01 {}

.sc_visual .slide01 .swiper-wrapper {}

.sc_visual .slide01 .swiper-wrapper .swiper-slide {
    height: 731px;
    max-height: 624px;
    overflow: hidden;
}

.sc_visual .slide01 .swiper-wrapper .swiper-slide a {
    display: block;
    height: 100%;
}

.sc_visual .slide01 .swiper-wrapper .swiper-slide a .cont_wrap {}

.sc_visual .slide01 .swiper-wrapper .swiper-slide a .cont_wrap .img_wrap {
    height: 100%;
    width: 100%;

}

.sc_visual .slide01 .swiper-wrapper .swiper-slide a .cont_wrap .img_wrap img {
    display: block;
    width: 100%;

}

.sc_visual .slide01 .swiper-wrapper .swiper-slide .text_wrap {
    position: absolute;
    bottom: 10%;
    left: 7%;
    color: white;
}

.sc_visual .slide01 .swiper-wrapper .swiper-slide a .cont_wrap .text_wrap span {
    display: block;
    font-size: 13px;
    margin-bottom: 13px;
}

.sc_visual .slide01 .swiper-wrapper .swiper-slide a .cont_wrap .text_wrap strong {
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 13px;
}

.sc_visual .slide01 .swiper-wrapper .swiper-slide a .cont_wrap .text_wrap p {
    display: block;
    font-size: 13px;
}

.sc_visual .sale {
    width: 100%;
}

.sc_visual .sale .inner .cont_wrap {
    overflow: hidden;
}

.sc_visual .sale .inner .cont_wrap .left {
    float: left;
    width: calc((100% - 5px)/2);
    margin-right: 5px;
}

.sc_visual .sale .inner .cont_wrap .right {
    float: right;
    width: calc((100% - 5px)/2);
}

.sc_visual .sale .inner .cont_wrap .contents .img_wrap {
    width: 100%;
    height: 100%;
}

.sc_visual .sale .inner .cont_wrap .contents img {
    display: block;
    width: 100%;
    height: 100%;
}

.sc_visual .sale .inner .cont_wrap .contents .text_wrap {
    margin-top: 20px;
}

.sc_visual .sale .inner .cont_wrap .text_wrap strong {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.sc_visual .sale .inner .cont_wrap .text_wrap p {
    font-size: 13px;
}

.new_arrival {}

.new_arrival h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.new_arrival .slide02 {
    width: 100%;
     
}

.new_arrival .slide02 .swiper-wrapper {
    overflow: hidden;   
    max-height: 914px;
}

.new_arrival .slide02 .swiper-wrapper .swiper-slide {
    float: left;
    margin-right: 10px;
    width: 44%;
    
   
    

}
.new_arrival .slide02 .swiper-wrapper .swiper-slide:last-child {
   margin-right:0;

}

.new_arrival .slide02 .swiper-wrapper .swiper-slide a {
 display: block;
 height: 100%;

}

.new_arrival .slide02 .swiper-wrapper .swiper-slide a .cont_wrap {
display: block;
 height: 100%;
}

.new_arrival .slide02 .swiper-wrapper .swiper-slide a .cont_wrap .img_wrap {
    
}

.new_arrival .slide02 .swiper-wrapper .swiper-slide a .cont_wrap .img_wrap img {
    width: 100%;
    height: 100%;
    display: block;
    
   
}

.new_arrival .slide02 .swiper-wrapper .swiper-slide a .cont_wrap .text_wrap{
 margin-top: 20px;
}

.new_arrival .slide02 .swiper-wrapper .swiper-slide a .cont_wrap .text_wrap strong{
 font-weight: bold;
 display: block;
margin-bottom: 5px;
font-size: 15px;
}
.new_arrival .slide02 .swiper-wrapper .swiper-slide a .cont_wrap .text_wrap p{
 font-size: 13px;
}
