main {
    position: relative;
    padding-top: 98px;
}


/* 메인 롤링배너이미지 */

.sc_visual {
    margin-bottom: 39px;
}

.coupon_box a {
    display: block;
    height: 100%;
}

.top_banner {
    width: 100%;
    display: block;
}

.main_banner {
    position: relative;
    margin-bottom: 30px;

}

.main_banner:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.sc_visual .pages {
    position: absolute;
    display: inline-block;
    color: #aaa;
    right: 6.25px;
    top: 42px;
    font-size: 10px;
    width: 50px;

}

.sc_visual .slide01 .pages .swiper-pagination-current {
    color: white;

}

.slide01 {
    overflow: hidden;
    width: 100%;
    position: relative;
}



.slide01 .swiper-slide {
    height: 731px;
    max-height: 624px;
    float: left;

}

.slide01 .swiper-slide a {
    display: block;
    height: 100%;
}



.sc_visual a .cont_wrap .img_wrap {
    height: 100%;
    width: 100%;

}

.sc_visual a .cont_wrap .img_wrap img {
    display: block;
    width: 100%;

}

.sc_visual .text_wrap {
    position: absolute;
    bottom: 20%;

    color: white;
    padding: 0 35.84px;
}

.sc_visual .text_wrap span {
    display: block;
    font-size: 13px;
    margin-bottom: 10.240px;
}

.sc_visual .text_wrap strong {
    display: block;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;

}

.sc_visual .text_wrap p {
    display: block;
    font-size: 13px;
    margin-top: 10.24px;
}


/* 세일/이벤트 */
.sale {
    width: 100%;
    margin-bottom: 48.75px;
}

.sale .inner .cont_wrap {
    overflow: hidden;
}

.sale .left {
    float: left;
    width: calc((100% - 5px)/2);
    margin-right: 5px;
}

.sale .right {
    float: right;
    width: calc((100% - 5px)/2);
}

.sale .contents .img_wrap {
    width: 100%;
    height: 100%;
    margin-bottom: 13px;
}

.sale .contents img {
    display: block;
    width: 100%;
    height: 100%;
}

.sale .text_wrap {
    padding-right: 8.125px;
}

.sale .text_wrap strong {
    display: block;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 4.875px;
}

.sale .text_wrap p {
    font-size: 10.5625px;
    color: #777;
    line-height: 1.2;
}

/* 제목공통 */
h2.sec_title {
    font-weight: 600;
    font-size: 16.25px;
    margin-bottom: 13px;
    text-align: center;
}



/* 다르다 */
.area1 .slide02 {
    margin-bottom: 60px;
}

/* 공통 */
.area1 .swiper {
    padding: 0 16.25px;
    box-sizing: border-box;
}

.area1 .swiper-wrapper {}

.area1 .swiper-slide {}

.area1 .swiper-slide>a {
    display: block;
    height: 100%;
}

.area1 .swiper-slide>a .cont_wrap {
    display: block;
    height: 100%;
}

.area1 .img_wrap {}

.area1 .img_wrap img {
    width: 100%;
    height: 100%;
    display: block;
}

.area1 .text_wrap {
    margin-top: 9.75px;
    padding-right: 8.938px;
}

.area1 .text_wrap strong {
    display: block;
    font-weight: 600;
    font-size: 11.375px;
    margin-bottom: 3.25px;
}

.area1 .text_wrap p {
    font-size: 11.375px;
    color: #777;
    line-height: 1.2;
}



/* WHAT'S NEW */
.sc_new .slide03 {
    margin-bottom: 60px;
    padding: 0 20px;

}

.sc_new .swiper.slide03 .swiper-wrapper .swiper-slide.sum {
    
    width: 134.94px !important;
 
}

.sc_new .slide03 .sum .text_wrap {
    padding: 26px 0;
}

.sc_new .slide03 .sum .text_wrap span {
    display: block;
    font-size: 13px;
    font-weight: bold;

}

.sc_new .slide03 .sum .text_wrap strong {
    display: block;
    font-size: 29.25px;
    font-weight: 600;
    margin-bottom: 3.25px;
}

.sc_new .slide03 .sum .text_wrap a {
    display: block;


}

.sc_new .slide03 .sum .text_wrap a span {
    display: block;
    font-weight: normal;
    font-size: 11.375px;
    text-decoration: underline;
    color: #777;
}

.sc_new .swiper.slide03 .swiper-wrapper .swiper-slide {
    width: 95.5px;
    height: 121.88px;
    border: 1px solid #eaeaea;
    text-align: center;
    box-sizing: border-box;
}

.sc_new .slide03 .cont_wrap {

    padding-top: 17.875px;
}

.sc_new .slide03 .cont_wrap a {
    display: block;
    height: 100%;
}

.sc_new .slide03 .cont_wrap a img {
    display: block;
    width: 48.75px;
    height: 65px;
    margin: 0 auto;
    margin-bottom: 5.688px;
}

.sc_new .slide03 .cont_wrap a p {
    display: block;
    font-size: 11.375px;
    font-weight: 600;
}

/* MD'S PICK */
.sc_md_pick {
    margin-bottom: 28.75px;

}

.sc_md_pick h2 {
    margin-bottom: 0;

}

.sc_md_pick .gnb {
    width: 100%;
    text-align: center;
    background: #fff;
    font-size: 11.375px;
    font-weight: 600;
    height: 48px;
    padding: 0 20px;
    box-sizing: border-box;
}




.sc_md_pick .gnb .swiper-slide {
    width: auto;
}

.sc_md_pick .gnb .swiper-slide a {
    line-height: 48px;
    color: #aaa;
    margin-right: 19.5px;
}

.sc_md_pick .gnb .swiper-slide.on a {
    color: #222;
}

.sc_md_pick .gnb .bar {
    width: 24px;
    position: absolute;
    height: 2px;
    bottom: 9px;
    left: 0;
    background: #222;
    transition: 0.5s
}


/* 공통 */
.grid_slide {
    display: none;
}

.grid_slide.on {
    display: block;
}

.grid_slide .swiper-wrapper {
    width: 100%;
    position: relative;
    padding-bottom: 50px;
}

.grid_slide .swiper-slide {}

.grid_slide .items1 {
    width: calc((100% - 5px)/2);
    height: calc((100% - 40px) / 3);
    float: left;
    margin-right: 5px;
    margin-bottom: 20px;
}

.grid_slide .items1:nth-child(2n) {
    margin-right: 0 !important;
}



.grid_slide .items1 .cont_wrap {
    width: 100%;
}

.grid_slide .cont_wrap a {
    display: block;
    height: 100%;
}

.grid_slide .img_wrap {
    margin-bottom: 10px;
}

.grid_slide .img_wrap img {
    display: block;
    width: 100%;
}

.grid_slide .text_wrap {
    overflow: hidden;
    position: relative;
}

.grid_slide .info_text {
    float: left;
}

.grid_slide .info_text strong {
    font-size: 10px;
    display: block;
    margin-bottom: 3.25px;
}

.grid_slide .info_text p {
    font-size: 11.375px;
    font-weight: 600;
}

.grid_slide .discount {
    position: absolute;
    top: 12px;
    right: 0;
    font-size: 11.375px;
    font-weight: 600;
    color: #fa5500;
}

.swiper-horizontal>.swiper-pagination-bullets {
    bottom: 30px;
}

.swiper-pagination .swiper-pagination-bullet {

    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 1;
}

.area1.sc_showroom {
    margin-bottom: 100px;
}

.area1.sc_showroom .img_wrap {
    padding-bottom: 120%;
    background: red;
    position: relative;
}

.area1.sc_showroom .img_wrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}



.sc_showroom .txt_wrap {
    position: absolute;
    color: #fff;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    text-align: center;

}

.sc_showroom .txt_wrap .brand1 {
    font-size: 12.1875px;
    font-weight: 600;
    margin-bottom: 3.25px;
}

.sc_showroom .txt_wrap .brand2 {
    font-size: 10.5625px;
    font-weight: 400;
}


/* 공통 */
.area2 {}

.area2 .slide05 {
    padding: 0 16.25px;
}


.area2 .slide05 .big_banner {
    position: relative;
    width: 100%;
   
}

.area2 .slide05 .big_banner a {
    display: block;
    height: 100%;
}

.area2 .slide05 .big_banner .img_wrap {
    height: 100%;
}


.area2 .slide05 .big_banner .img_wrap img {
    display: block;
    width: 100%;
    height: 100%;
}

.area2 .slide05 .big_banner .text_wrap {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 100%;
}

.area2 .slide05 .big_banner .text_wrap strong {
    display: block;
    font-size: 16.25px;
    font-weight: 600;
    margin-bottom: 4.875px;
}

.area2 .slide05 .big_banner .text_wrap p {
    display: block;
    font-size: 11.375px;
}

.area2 .slide05 .big_banner .text_wrap span {
    display: block;
    font-size: 11.375px;
}

.area2 .slide05 .list_area {
    width: 100%;


}

.area2 .slide05 .list_area .cont_wrap {
    position: relative;
    width: 100%;
    height: 105.81px;
    border-bottom: 1px solid #f1f1f1;
    box-sizing: border-box;
    padding: 13px 0;
}

.area2 .cont_wrap a {
    display: block;
    height: 100%;
}

.area2 .cont_wrap a .img_wrap {
    width: 54.719px;
    float: left;
}

.area2 .cont_wrap a .img_wrap img {
    width: 100%;
}

.area2 .cont_wrap a .text_wrap {
    overflow: hidden;
    padding: 0 40.625px 0 13px;
}

.area2 .slide05 .cont_wrap .brand_info {
    display: block;
    font-size: 10px;
}

.area2 .slide05 .list_area .brand_info .brand {
    margin-bottom: 1.625px;
}

.area2 .slide05 .list_area .brand_info span {
    display: block;
    color: #777;
    margin-bottom: 4.875px;
    height: 26px;

}

.area2 .slide05 .list_area .price_info {

    overflow: hidden;

}

.area2 .slide05 .list_area .price_info p {
    font-weight: 600;
    display: inline-block;
    font-size: 11.375px;
}

.area2 .slide05 .list_area .price_info p span {

    display: inline-block;
    margin-left: 6.5px;
    color: #777;
    text-decoration: line-through;
}

.area2 .slide05 .discount {
    display: inline-block;
    position: absolute;
    right: 16.25px;
    vertical-align: top;
    color: #fa5500;
    font-weight: 400;

}

.sc_exclusive {
    margin-bottom: 48.75px;
}

/* area3공통 */
.area3 {
    background: #f5f5f5;
    padding: 52px 0;
    margin-bottom: 60px;
}



.area3 .limited {
    overflow: hidden;
    padding: 0 20px;
}

.area3 .limited .swiper-wrapper {}

.area3 .slide04 .swiper-slide {
    float: left;
    margin-left: 5px;
    width: 204px;
}

.area3 .limited .swiper-slide a {
    display: block;
    height: 100%;
}

.area3 .limited .cont_wrap {
    width: 100%;
}

.area3 .limited .img_wrap {
    position: relative;
    width: 100%;
}

.area3 .limited .img_wrap img {
    display: block;
    width: 100%;
}

.area3 .limited .img_wrap .badge {
    position: absolute;
    width: 69.063px;
    height: 19.5px;
    display: block;
    right: 0;
    bottom: 0;
}

.area3 .limited .text_wrap {
    margin-top: 10px;
}

.area3 .limited .brand {
    font-size: 10px;
    margin-bottom: 3.25px;
}

.area3 .limited .price {
    width: 100%;
    margin-bottom: 8px;
    overflow: hidden;
    font-size: 11.375px;
}

.area3 .limited .price p {
    display: inline-block;
    margin-right: 6.5px;
    float: left;
    font-weight: 600;
}

.area3 .limited .price .discount {
    display: inline-block;
    float: right;
    color: #fa5500;
}

.area3 .limited .period {
    margin-top: 13px;
    font-size: 11.375px;
}

.trend {
    margin-bottom: 100px;
}


.trend .tags ul li {
    font-size: 11.375px;
    font-weight: 400;
    padding: 8.125px;
    margin-bottom: 4.875px;
    color: #777;
    background-color: #f5f5f5;
    display: inline-block;
}

.trend .tags ul li.on {
    font-weight: 600;
    color: #fff;
    background-color: #000;
}

.trend .title .tags ul li a {
    display: inline-block;
    height: 100%;
}

.trend .product_grid {
    margin-top: 20px;
    overflow: hidden;
    display: none;
}


.trend .product_grid.on {
    margin-top: 20px;
    overflow: hidden;
    display: block;
}

.trend .product_grid .item_wrap {
    position: relative;
    float: left;
    margin-right: 5px;
    width: calc((100% - 5px)/2);
    margin-bottom: 5px;
}

.trend .product_grid .last {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 5px;
}


.trend .product_grid .last .img_wrap img {
    display: block;
    height: 100%;
}

.trend .product_grid .item_wrap.last .text_wrap {
    padding: 0 65px 0 16.25px;
    font-size: 11.375px;
    font-weight: normal;
}

.trend .product_grid .item_wrap.last .text_wrap .brand {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 4.5px;
}


.trend .product_grid .item_wrap:nth-child(2n) {
    margin-right: 0;
}


.trend .product_grid .item_wrap .img_wrap {
    width: 100%;
    height: 100%;
    position: relative;
}



.trend .product_grid .item_wrap .img_wrap img {
    display: block;
    width: 100%;
    height: 100%;
}

.trend .product_grid .item_wrap .text_wrap {
    position: absolute;
    padding: 0 16.25px;
    box-sizing: border-box;
    bottom: 20px;
    color: #fff;
    font-size: 14px;
    width: 100%;
}

.trend .product_grid .item_wrap .text_wrap .brand {
    font-size: 10px;
    margin-bottom: 3.25px;

}

.trend .product_grid .item_wrap .text_wrap .price {
    font-weight: 600;
    overflow: hidden;
    display: block;
    font-size: 11.375px;


}

.trend .product_grid .item_wrap .text_wrap .price strong {}

.trend .product_grid .item_wrap .text_wrap .price .discount {
    float: right;
    font-weight: 400;
    color: #fa5500
}


.sc_style_pick {
    margin-bottom: 48.75px;
}

.sc_brand_issue {

    margin-bottom: 48.75px;
}

.sc_brand_issue .img_wrap {
    
    margin-bottom: 13px;

}

.sc_brand_issue .text_wrap strong {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 3.25px;

}

.special_product {
    margin-top: 80px;
    text-align: center;
    position: relative;
    height: 100%;
    margin-bottom: 80px;
}

.special_product .bar {
    width: 63px;
    position: absolute;
    height: 2px;
    top: 7px;
    margin-top: 5px;
    line-height: 11px;
    left: 0;
    background: #222;
    transition: 0.5s
}

.special_product ul {

    display: inline-block;
    position: relative;
    margin-bottom: 14.625px;

}

.special_product ul li {
    float: left;
    display: inline-block;
    font-size: 11.375px;
    font-weight: 600;
    color: #aaa;
    margin-right: 19.5px;

}

.special_product ul li:last-child {
    margin-right: 0;

}

.special_product ul li.on {
    color: #222;
}

.special_product ul li a {
    display: block;
    height: 100%;

}

.special_product .img_wrap {
    display: block;

}

.special_product .img_wrap img {
    display: block;
    height: 100%;
}

.area1.special_product .swiper.slide02.brand {
    visibility: hidden;
    height: 0;
    margin-bottom: 0;
   

}

.area1.special_product .swiper.slide02.brand.on {
    visibility: visible;
    width: 100%;
   height: 100%;

}

.special_product .brand .text_wrap {
    text-align: left;

}

.special_product .title {
    font-size: 12px;
    color: #333;
    font-weight: normal;
    margin-bottom: 4px;
}

.special_product .brand .text_wrap .price_discount {
    overflow: hidden;
    font-size: 11.375px;

}

.special_product .brand .text_wrap .price_discount .price {
    color: #000;
    font-weight: 600;
    float: left;
}

.special_product .brand .text_wrap .price_discount .discount {
    color: #fa5500;
    float: right;
}

.special_product .slide02 .last {
    position: relative;
    width: 102.39px !important;
    height: 187.72px;
   
}
.special_product .slide02 .last a{
display: block;
height: 100%;
}

.special_product .slide02 .last .cont_wrap {
    position: absolute;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.special_product .last .more {
    display: block;
    width: 26px;
    height: 26px;
    background: url('https://static.wconcept.co.kr/mobile/images/common/ico_more_orange_32.png') no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.special_product .last p {
    color: #333;
    font-size: 11.375px;
    margin-top: 8.125px;
}

.theme {

}


.theme article {
    width: 100%;
    margin-bottom: 52px;

}

.theme .part .img_wrap {
    width: 100%;

}

.theme .part .img_wrap img {
    display: block;
    width: 100%;
}

.theme .part .slide_area {}

.theme .part .slide_area .title {
   
    margin: 15px 0;
}

.theme .part .slide_area .title h3 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 3.25px;
}

.theme .part .slide_area .title p {
    font-size: 11.375px;
    color: #777;
}



.theme .part .slide_area .slide06 .img_wrap a img {
    width: 100%;

    display: block;
    object-fit: cover;
}

.sc_special_price {
    padding: 48.75px 55.25px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 48.75px;
}

.sp_price {}

.sp_price .swiper-wrapper {
    width: 100%;
}

.sp_price .swiper-slide {
    width: 100%;
    padding-bottom: 37.375px;
}

.sp_price .cont_wrap {
    width: 100%;
}

.sp_price .img_wrap {
    position: relative;
}

.sp_price .img_wrap img {
    display: block;
    width: 100%;
}

.sp_price .discount {
    display: block;
    position: absolute;
    width: 65px;
    height: 65px;
    top: 0;
    left: 0;
}
.sp_price .discount .badge{
 display: block;
 width: 100%;
}
.sp_price .discount span{
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 padding-top: 11.375px;
 padding-left: 8.125px;
 font-size: 14.625px;
 color:#fff;
 font-weight: 600;
}

.sp_price .text_wrap {
    margin-top: 0;
    width: 100%;
    padding: 11.375px;
    box-sizing: border-box;
    background: #fff;
}

.sp_price  p {
    font-size: 10px;
   font-weight: 400;
   margin-bottom: 4.875px;
   color: #777;
}

.sp_price .brand {
    color: #000;
    margin-bottom: 1.625px;
    line-height: 1.3;
    font-weight: 600;
   
}


.sp_price .price p {
    font-size: 11.375px;
    color: #000;
    font-weight: 600;

}

.sp_price .price span {
    display: inline-block;
    margin-left: 10px;
    font-size: 10px;
    color: #777;
    font-weight: normal;
    text-decoration: line-through;
}

.pagination{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size: 11.375px;
    color: #777;
    vertical-align:bottom;
}


.swiper-button-prev{
    position: absolute;
    background-image: url(https://static.wconcept.co.kr/mobile/images/common/btn_arrow_prev_20.png);
    left:40.625px;
    background-size: cover;
    width: 13.81px;
    height: 16.25px;
}
.swiper-button-prev:after,
.swiper-button-next:after{
    content: '';
}

.swiper-button-next{
    position: absolute;
    background-image: url(https://static.wconcept.co.kr/mobile/images/common/btn_arrow_next_20.png);
    right:40.625px;
    background-size: cover;
    width: 13.81px;
    height: 16.25px;
}
.swiper-pagination-fraction .swiper-pagination-horizontal span{
    display: inline-block;
   
    
    
}

.swiper-pagination-current{
    color:#000;
  
}


/* SC_RANKING */
.sc_ranking {margin-bottom: 48.75px; position: relative; height: 100%;}
.sc_ranking .brand_area,
.sc_ranking .product_area{
    display: none;
}
.sc_ranking .brand_area.on,
.sc_ranking .product_area.on{
    display: block;
    overflow: hidden;
}

.sc_ranking .tap .tap_wrap>div.on{
    background: black;
    color: white;
}

.sc_ranking .swiper.grid_slide2 {
    visibility: hidden;
    height: 0;
  
}

.sc_ranking .swiper.grid_slide2.on {
    visibility: visible;
    height: 100%;
}


.sc_ranking .tap {
 height: 35.75px; 
}

.sc_ranking .tap .tap_wrap {
    overflow: hidden;
    border: 1px solid #AAA;
    font-size: 11.375px;
    text-align: center;
    line-height: 3.5;
    font-weight: 600;
}

.sc_ranking .tap .tap_wrap>div {
    float: left;
    width: 50%;
    color: black;
    background: white;
}

.sc_ranking .gnb {
    width: 100%;
    text-align: center;   
    font-size: 11.375px;
    font-weight: 600;
    height: 48px;  
    box-sizing: border-box;
}


.sc_ranking .gnb .swiper-slide {
    width: auto;
}

.sc_ranking .gnb .swiper-slide a {
    line-height: 48px;
    color: #aaa;
   
}

.sc_ranking .gnb .swiper-slide.on a {
    color: #222;
}

.sc_ranking .gnb .bar {
    width: 24px;
    position: absolute;
    height: 1px;
    bottom: 15px;
    left: 0;
    background: #222;
    transition: 0.5s
}


.sc_ranking .brand {
    float: left;
    width: 50%;   
    color: #AAA;

}

.sc_ranking .swiper-pagination{
    position: absolute;
    bottom: 0;
}

.sc_ranking .grid_slide2 .swiper-wrapper .swiper-slide {
overflow: hidden;
}

.sc_ranking .grid_slide2 .items1 {
    float: left;
    width: calc((100% - 10px)/3);
    height: 50%;
    margin-right: 5px;
    margin-bottom: 19.5px;
}

.sc_ranking .grid_slide2 .items1:nth-child(3n) {
    margin-right: 0;
}

.sc_ranking .grid_slide2 .items1 .cont_wrap {}

.sc_ranking .grid_slide2 .cont_wrap a {
    display: block;
    height: 100%;
}

.sc_ranking  .grid_slide2 .img_wrap {
   position: relative;
   margin-bottom: 6.5px;
}

.sc_ranking .grid_slide2 .img_wrap img {
    display: block;
    width: 100%; 
}
.sc_ranking .grid_slide2 .img_wrap .badge {
    display: block;
    width: 69.05px;
    height: 19.5px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.sc_ranking .grid_slide2 .img_wrap span{
    display: block;
    position: absolute;
    width: 19.5px;
    height: 19.5px;
    background: rgba(0,0,0,.4);
    font-size: 10px;
    color:#fff;
    text-align: center;
    line-height: 2;
    top: 0;
    left: 0;

}
.sc_ranking .text_wrap{
    padding-right: 8.125px;
}
.sc_ranking strong{
    display: block;
    font-size: 10px;
    margin-bottom: 3.25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
 }
.sc_ranking p{
    font-size: 11.375px;
    margin-right: 6.25px;
    font-weight: 600;}

.sc_ranking .last{
    position: relative;
}
.sc_ranking .last .img_wrap::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 7;
    background-color: rgba(0,0,0,.6);
    text-align: center;
}
.sc_ranking .last .text_wrap p{
font-size: 10px;
color: #999;
font-weight: 400;
line-height: 1.5;
}
.sc_ranking .last .img_wrap{
    position: relative;
}
.sc_ranking .last .img_wrap .more{
font-size: 40px;
display: block;
color: #fff;
position: absolute;
left: 50%;
top: 10px;
transform: translateX(-50%);
font-weight: 300;
z-index: 10;
}
.sc_ranking .last .img_wrap .more2{
font-size: 10px;
background: none;
width: 40px;
display: inline-block;
color: #fff;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(-50%);
z-index: 10;
}

.sc_ranking .swiper.brand_slide {
    visibility: hidden;
    height: 0;
    
  
  
}

.sc_ranking .swiper.brand_slide.on {
    visibility: visible;
    height: 100%;
    padding-bottom: 50px;
    overflow: hidden;
    height: 340px;
}


.brand_slide .swiper-wrapper .swiper-slide .list {
    padding-left:16.25px;
    overflow: hidden;
    width: 100%;   
    border-bottom: 1px solid #f1f1f1;    
}


.brand_slide .sub_list .last .text_wrap{
    background: rgba(0,0,0,.6);
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;  
    top: 0;
    left: 0;
    padding: 0;
    
}
.brand_slide .sub_list .last .text_wrap span{
z-index: 1;
display: block;
width: 100%;
position: absolute;
top: 50%;
color: #fff;
margin-right:0;
font-weight: 300;
line-height: 1;

}
.brand_slide .sub_list .last .text_wrap .more{
    position: absolute;
    top: 20px;
}
  
.brand_slide .swiper-wrapper .swiper-slide .list> li{

    display: block;
    width: 100%;
    line-height: 3.5;
    
}



.brand_slide .swiper-wrapper .swiper-slide > ul >li span{float: left;
    color: #fa5500; display: inline-block; margin-right: 9.375px;
font-size: 11.375px; font-weight: 500;}
.brand_slide .swiper-wrapper .swiper-slide > ul >li p{
    overflow: hidden;
    font-size: 11.375px; font-weight: 500; color: #000;
}
.brand_slide .swiper-wrapper .swiper-slide .sub_list{
    width: 100%;    
    box-sizing: border-box;
   padding: 7px 0 19.5px 16.25px;


   
    
}
.brand_slide .swiper-wrapper .swiper-slide .sub_list li{
   float: left;
   width: calc( 25% - 8px);  
   margin: 0 1px;
   box-sizing: border-box;
}  
.brand_slide .swiper-wrapper .swiper-slide .sub_list li::after{
    clear: 'both';
    content: '';
    display: block;

}

.brand_slide .swiper-wrapper .swiper-slide .sub_list li a{
  display: inline-block;
  width: 100%;
 
}  
.brand_slide .swiper-wrapper .swiper-slide .sub_list li a img{
  display: inline-block;
  width: 100%;
}  
.brand_slide .swiper-pagination{position: absolute; bottom: 0;}

/* MAKE IT YOURS */
.sc_make_it_yours {
    padding: 0 19.25px;
    margin-bottom: 48.75px;
}

/* special */

.w_tv {
    position: relative;
    padding: 88.75px 0 68.75px 0;
    margin-bottom: 48.75px;
}
.w_tv .swiper{
    overflow: none;
}
.w_tv .swiper-wrapper{
    padding-bottom: 20px;
}
.w_tv h2{
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 58px;
    transform: translateX(-50%);
    color:#fff;
    font-size: 16.25px;
    font-weight: 600;
}
.w_tv::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(30px);
}

.w_tv .cont_wrap {position: relative;}

.w_tv .cont_wrap::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.w_tv .swiper-slide-active .cont_wrap::after {
    
    visibility: hidden;
    opacity: 0;
    /* pointer-events: none; */
}

.w_tv .cont_wrap .img_wrap {
    position: relative;
}

.w_tv .cont_wrap .img_wrap img {
    width: 100%;
}
.w_tv .cont_wrap .img_wrap img.play {
    width: 43.88px;
    height: 47.13px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.w_tv .cont_wrap .text_wrap {
    background: #fff;
    padding: 16.25px;
}
.w_tv .cont_wrap .text_wrap p:last-child{
    color: #777;
    font-size: 11.375px;
    line-height: 1.25;
    height: 32px;
}

.w_tv .cont_wrap .text_wrap .brand{
    color: #000;
    font-size: 13px;
    margin-bottom: 3.25px;
    font-weight: 600;
    
}

.w_tv .pagination{
    bottom: -10px;
}
.w_tv .swiper-button-prev{    
    left:88px;  
}


.w_tv .swiper-button-next{
    right:88px; 
}

.w_tv .swiper-pagination-current{
    color:#fff;
    font-weight: 600;
  
}

.wdna_style{
    margin-bottom: 48.75px;
}

.wdna_style .cont_area {
    overflow: hidden;
}

.wdna_style .cont_area .item {
    float: left;
    position: relative;
    width: calc((100% - 2px)/3);    
  
    margin-left: 1px;
    margin-bottom: 1px;
    
}

.wdna_style .cont_area .item:nth-child(3n) {

    margin-left: 0;
    margin-bottom: 0;
}

.wdna_style .cont_area .item a {
    display: block;
    width: 100%;
}

.wdna_style .cont_area .item a .img_wrap {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
}

.wdna_style .cont_area .item a .img_wrap img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wdna_style .cont_area .item a p {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 0 9.75px 9.75px 9.75px;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
}