@import url(./common.css);
@import url(./reset.css);


header {
    /* position: fixed; */
    width: 100%;
    background-color: #fff;
    z-index: 9;
}

header .icon_area {
    height: 50px;
    position: relative;
}

header .icon_area .menu_logo {
    overflow: hidden;
}

header .icon_area .menu_logo .menu {
    float: left;
    margin-left: 10px;
}

header .icon_area .menu_logo .menu a {
    float: left;
    display: block;
    width: 40px;
    height: 50px;
    margin-right: 10px;
}

header .icon_area .menu_logo .menu a img,
header .icon_area .menu_logo .icon a img {

    height: 100%;
    display: block;
}

header .icon_area .menu_logo .icon {
    float: right;
    margin-right: 10px;
}

header .icon_area .menu_logo .icon a {
    float: left;
    width: 40px;
    height: 50px;
    margin-right: 10px;
}

nav {
    
    width: 100%;
    overflow: hidden;
    height: 48px;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
    
}
nav .gnb{
       
    font-size: 11px;
    font-weight: bold;
    
}
nav .gnb .swiper-wrapper{
    width: 90%;
    
}

nav .gnb .swiper-wrapper .swiper-slide {
  display: block;
  text-align: center;
       
}

nav .gnb .swiper-wrapper .swiper-slide a:hover {
text-decoration: underline;
       
}

nav .gnb .swiper-wrapper .swiper-slide a {
    display: inline-block;
    height: 100%;
    line-height: 3;
   
   
}

footer{background-color: #f1f1f1; padding-bottom: 50px;}
footer .menu{    background: #aaa;text-align: center;}
footer .menu .wrap{display: inline-block; height: 32.5px;}
footer .menu .wrap a{    
   display: inline-block;
    color: #fff;
height: 100%;
line-height: 3;
margin-left: 15px;
font-size: 11.375px;
font-weight: bold;}
footer .menu .wrap a::after
{
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #fff;
    vertical-align: middle;
    margin-left:15px;
}
footer .menu .wrap a:last-child::after,
footer .inner .policy a:last-child:after{
   width: 0;
   
   height: 0;

}

footer .inner{
    padding: 16px 10px 27px 10px;
    font-size: 10px;
}

footer .inner p{
    line-height: 1.5;
    color: #777;
    font-size: 10px;
}
footer .inner p a{
  display: inline-block;
  height: 100%;
}

footer .inner .policy{
    margin: 20px 0;
}
footer .inner .policy a{
    display: inline-block;;
    color: #333;
height: 100%;
line-height: 3;
margin-left: 10px;
font-size: 10px;

}

footer .inner .policy a::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #333;
    vertical-align: middle;
    margin-left:10px;
}